.vscode/*
vendor/*
!vendor/.preserve
out
tmp
*.nupkg
*.tar
*.vhd
WSLGd/*.d
WSLGd/*.o
WSLGd/WSLGd
WSLDVCPlugin/.vs
WSLDVCPlugin/x64
WSLDVCPlugin/ARM64/Debug/
WSLDVCPlugin/ARM64/Release/
WSLDVCPlugin/WSLDVCPlugin.aps