

resources:
  repositories:
  - repository: FreeRDP
    type: git
    name: DxgkLinux/FreeRDP
    ref: working
  - repository: weston
    type: git
    name: DxgkLinux/weston
    ref: working
  - repository: pulseaudio
    type: git
    name: DxgkLinux/pulseaudio
    ref: working

trigger:
  - working
jobs:
- job: 'Build_Ubuntu'
  displayName: 'Build (Ubuntu)'

  pool:
    vmImage: 'ubuntu-latest'
    
  steps:
    - checkout: FreeRDP
    - checkout: weston
    - checkout: pulseaudio
    - checkout: self

    - script: git clone --branch v1.0.0 https://github.com/AgentD/squashfs-tools-ng.git &&
              cd squashfs-tools-ng &&
              ./autogen.sh &&
              ./configure &&
              make && sudo make install &&
              cd ..
      displayName: 'Build squashfs-tools-ng since is not supported on 18.04 using apt'

    - task: DockerInstaller@0
      inputs:
        dockerVersion: '19.03.12'
        releaseType: 'edge'
    - bash: |
            curl -L -o ~/.docker/cli-plugins/docker-buildx --create-dirs ${BUILDX_URL}
            chmod a+x ~/.docker/cli-plugins/docker-buildx
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            ~/.docker/cli-plugins/docker-buildx create --use
            ~/.docker/cli-plugins/docker-buildx inspect --bootstrap
      displayName: Prepare buildx
      env:
        BUILDX_URL: https://github.com/docker/buildx/releases/download/v0.4.1/buildx-v0.4.1.linux-amd64

    - script: |
              echo '{ "experimental": true }' | sudo tee /etc/docker/daemon.json
              sudo service docker restart
      displayName: 'Enable Docker Engine experimental '

    - script: mv FreeRDP/ wslg/vendor/ &&
              mv weston/ wslg/vendor/ &&
              mv pulseaudio/ wslg/vendor/
      displayName: 'Move sub projects (FreeRDP, Weston)'

    - script: docker build -t system-distro-x64 
              ./wslg 
              --build-arg SYSTEMDISTRO_VERSION=`git --git-dir=wslg/.git rev-parse --verify HEAD`
              --build-arg SYSTEMDISTRO_ARCH=x86_64
              
      displayName: 'Create docker image x64'

    - script: ~/.docker/cli-plugins/docker-buildx build 
              --output type=tar,dest=system_arm64.tar 
              --platform=linux/arm64 
              ./wslg 
              --build-arg SYSTEMDISTRO_VERSION=`git --git-dir=wslg/.git rev-parse --verify HEAD` 
              --build-arg SYSTEMDISTRO_ARCH=aarch64
      displayName: 'Create docker image arm64'

    - script: export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH &&
              docker export `docker create system-distro-x64` > system_x64.tar &&
              tar2sqfs $(Agent.BuildDirectory)/system_x64.squashfs < system_x64.tar
      displayName: 'Create SquashFS (x64)'

    - script:   export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH &&
                tar2sqfs $(Agent.BuildDirectory)/system_arm64.squashfs < system_arm64.tar
      displayName: 'Create SquashFS (arm64)'

    - task: PublishPipelineArtifact@1
      displayName: 'Publish SquashFS artifact'
      inputs:
        targetPath: $(Agent.BuildDirectory)/system_x64.squashfs
        artifact: 'system_x64.squashfs'
        publishLocation: 'pipeline'

    - task: PublishPipelineArtifact@1
      displayName: 'Publish SquashFS artifact'
      inputs:
        targetPath: $(Agent.BuildDirectory)/system_arm64.squashfs
        artifact: 'system_arm64.squashfs'
        publishLocation: 'pipeline'

- job: 'Build_Windows'
  dependsOn: 'Build_Ubuntu'
  displayName: 'Package (Windows)'
  
  pool:
    vmImage: 'windows-2019'
  
  steps:
  - checkout: self

  - task: DownloadPipelineArtifact@2
    displayName: 'Download system_x64.squashfs'
    inputs:
      buildType: 'current'
      artifactName: 'system_x64.squashfs'
      targetPath: 'msi/'

  - task: DownloadPipelineArtifact@2
    displayName: 'Download system_arm64.squashfs'
    inputs:
      buildType: 'current'
      artifactName: 'system_arm64.squashfs'
      targetPath: 'msi/'

  - script: '"%WIX%bin\candle" wslg.wxs -dSquashFile=system_x64.squashfs -o obj_x64\'
    workingDirectory: msi
    displayName: 'WiX Candle (x64)'

  - script: '"%WIX%bin\light" obj_x64\wslg.wixobj -o bin\wslg_x64.msi'
    workingDirectory: msi
    displayName: 'WiX Light (x64)'

  - script: '"%WIX%bin\candle" wslg.wxs -dSquashFile=system_arm64.squashfs -o obj_arm64\'
    workingDirectory: msi
    displayName: 'WiX Candle (arm64)'

  - script: '"%WIX%bin\light" obj_arm64\wslg.wixobj -o bin\wslg_arm64.msi'
    workingDirectory: msi
    displayName: 'WiX Light (arm64)'

  - task: PublishPipelineArtifact@1
    displayName: 'Publish WSLG installer'
    inputs:
      targetPath: msi/bin/wslg_x64.msi
      artifact: 'wslg_x64.msi'
      publishLocation: 'pipeline'

  - task: PublishPipelineArtifact@1
    displayName: 'Publish WSLG installer'
    inputs:
      targetPath: msi/bin/wslg_arm64.msi
      artifact: 'wslg_arm64.msi'
      publishLocation: 'pipeline'